{% extends "base.html" %} {% block title %}My Profile{% endblock %} {% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'user_profile.js') }}"></script>
<script>
current_user = {{ current_user | tojson}}
</script>
{% endblock %} {% block content %}


<div class="container">
  <div class="jumbotron">
    <h1>Advisor User Profile</h1>
    <h5>Manage your profile</h5>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="user_profile">
      <div id="no_current_user">
	      First time here? <a href="{{ url_for('create_profile') }}">Get started now</a>
        </div>
				<div class="row status">

				</div>
      <form id="current_user_profile">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="input_name" aria-describedby="nameHelp" placeholder="Enter name">
          <small id="nameHelp" class="form-text text-muted">Preferred Name</small>
        </div>

        <div class="form-group">
          <label>University</label>
          <input type="text" class="form-control" id="input_university" aria-describedby="universityHelp" placeholder="Enter university">
          <small id="universityHelp" class="form-text text-muted">Undergraduate institution</small>
        </div>

				<div class="form-group">
					<label>Company</label>
					<input type="text" class="form-control" id="input_company" aria-describedby="companyHelp" placeholder="Enter company">
					<small id="companyHelp" class="form-text text-muted">Organization employed at</small>
				</div>

        <div class="form-group">
          <label>Interests</label>
          <input type="text" class="form-control" id="input_interests" aria-describedby="interestsHelp" placeholder="Enter interests">
          <small id="interests" class="form-text text-muted">Area of focus or questions that keep you busy. Separate each term with a comma (",")</small>
        </div>

        <button type="submit" class="btn btn-danger" id="delete_profile">Delete My Profile</button>
        <button type="submit" class="btn btn-primary" id="edit_profile">Save</button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
{% endblock %}
